# project specific excludes
com.ibm.streamsx.thrift/doc
com.ibm.streamsx.thrift/impl/include/boost
com.ibm.streamsx.thrift/samples

samples/*/output
samples/*/toolkit.xml
/samples/*/doc

# begin streamsx.thrift excluded
.settings
.toolkitList
.namespace

## C++ excludes
# Compiled Object files
*.slo
*.lo
*.o
